/* ===================================
------------Import Google Font--------
=================================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ===================================
---------------Variables--------------
=================================== */
:root {
    --bg-color: #FFF;
    --bg-footer-color: #0A0826;
    --primary-color:#E02C6D;
    --text-header-color:#3A3A3A;
    --text-collection-heading-color: #18191F;
    --text-collection-info-color: #787885;
    --header-max-width: 1240px;
    --main-max-width: 1088px;
}

/* ===================================
---------------CSS Reset--------------
=================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.25;
    background: var(--bg-color)
}

a {
    text-decoration: none;
}

/* a:visited {
    color: inherit;
} */

ul {
    list-style: none;
}

/* ===================================
---------------Utilities--------------
=================================== */ 
.xs-heading {
    font-size: 16px;
}

.s-heading {
    font-size: 24px;
}

.m-heading {
    font-size: 28px;
}

.l-heading {
    font-size: 38px;
}

.xl-heading {
    font-size: 52px;
}

.text-primary {
    color: var(--primary-color);
}

.btn {
    display: inline-block;
    padding: 10px 24px;
    background: var(--primary-color);
    color: #fff;
    border: none;
    outline: none;
}

.btn-round {
    border-radius: 41px;
}
/* ===================================
---------------Main Header------------
=================================== */ 

#main-header .header-container {
    max-width: var(--header-max-width);
    margin: 0 auto;
    padding: 20px;
}

#main-header .header-container .main-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.main-nav .nav-links ul {
    display: flex;
}

.main-nav .nav-links ul li a {
    padding: 20px 17px;
    font-weight: 600;
}

#main-header .header-container .header-banner {
    display: flex;
    justify-content: space-between;
    gap: 131px;
    align-items: center;
    padding: 20px 0;
}

.header-banner .banner-text>*{
    margin-bottom: 16px;
}

.header-banner .banner-text p {
    line-height: 1.5;
}

.header-banner .banner-text a i {
   opacity: 1;
   animation: cursor-moving 1200ms linear infinite; 
}

#main-header .header-container .banner-img {
    position: relative;
}

#main-header .header-container .banner-img .camera-bg {
    width: 475px;
    height: 475px;
}

#main-header .header-container .banner-img .camera {
    width: 440px;
    height: 414px;
    position: absolute;
    top: 30px;
    left: 2px;
}

@keyframes cursor-moving {
    0%{
        transform: translateX(0);
    }

    40% {
        opacity: 1;
    }
    60%{
        transform: translateX(20px);
    }

    60% {
        opacity: 0;
    }
    90% {
        transform: translateX(0px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}